checkpoints/**
temp/**
**/__pycache__/
data/ref_videos/ref_frames_data.pkl
data/intermediate_videos/**
data/results/**
data/tmp/**
# -----------------------------
# General
# -----------------------------
*.log
*.tmp
*.cache

# -----------------------------
# Videos
# -----------------------------
*.mp4

# -----------------------------
# Machine Learning Checkpoints
# -----------------------------
*.pt
*.pth
*.ckpt
*.safetensors
*.bin
*.pkl
*.npz

# HuggingFace / Model Hub caches
huggingface/
models/
checkpoints/
weights/
*.onnx
*.engine


# Temp or intermediate dirs
tmp/
temp/
cache/
file.txt
data/ref_videos/silent_standard.mp4
